@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --var-color-text: #000;
    --var-logo-text: #74D4B8;
    --var-btn: #2ED8C3;
    --var-btn-hover: #24a697;
    --var-btn-text: #FFF;
}

/* Untuk Header */
.header {
    padding: 1.8rem 4rem;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: transparent;
    z-index: 10;
    transition: .5s;
}

.header.sticky {
    padding: 1.5rem 4rem;
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header .logo img {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

.header .logo h2 {
    font-weight: 300;
    font-size: 34px;
    color: var(--var-logo-text);
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    margin: 0 15px;
    color: var(--var-color-text);
    transition: 0.6s;
}

.nav ul li a:hover {
    color: var(--var-btn-hover);
}

.btn-contact {
    margin: 0 15px;
}

.btn-contact a {
    text-decoration: none;
    color: var(--var-btn-text);
    background-color: var(--var-btn);
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 20px;
    font-size: 14px;
    transition: .3s;
}

.btn-contact a:hover {
    background-color: var(--var-btn-hover);
}

.hamburger {
    display: none;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: var(--var-color-text);
    display: block;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/* Section Home */
#home {
    padding: 12rem 6rem 4rem 6rem;
}

.container-home {
    display: flex;
    align-items: center;
}

.container-home .content-home {
    width: 30%;
    margin-left: auto;
    text-align: justify;
}

.container-home .title-home {
    font-size: 48px;
}

.image-swiper {
    padding: 8rem 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: grab;
}

.swiper-slide img {
    display: block;
    width: 300px;
    height: 500px;
    object-fit: cover;
    border: 1px solid #121212;
}

/* Section News */

#news {
    padding: 4rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-news {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-news .title-news {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}

.box {
    display: flex;
}

.box-news {
    height: 600px;
    position: relative;
    margin: 36px 1rem;
}

.box-news img {
    height: 600px;
    width: 350px;
}

.box-news .box-news-text {
    position: absolute;
    bottom: 0;
    align-items: center;
    box-sizing: border-box;
    color: var(--var-color-text);
    padding: 8px;
    background-color: #FFF;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
}

.box-news-text h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.box-news-text p {
    margin-bottom: 20px;
}

.box-news:hover {
    cursor: pointer;
}

.btn-news a {
    padding: 12px 15px;
    color: var(--var-btn-text);
    background-color: var(--var-btn);
    text-decoration: none;
    transition: 1s;
    position: inherit;
    font-size: 18px;
}

.btn-news a:hover {
    background-color: var(--var-btn-hover);
}

/* Section Service */

#service {
    padding: 4rem 6rem;
    display: flex;
}

.service-text {
    margin-inline-start: 20%;
}

.service-logo {
    align-items: center;
    justify-content: center;
    width: 20%;
}

.service-lists {
    align-items: center;
    justify-content: center;
    width: 80%;
}

.service-lists h2 {
    font-size: 38px;
    font-weight: 700;
}

.service-lists p {
    margin-top: 1rem;
}

.service-logo h3 {
    font-size: 28px;
    vertical-align: middle;
    line-height: 100px;
    color: var(--var-btn);
}

.card-list {
    margin-top: 3rem;
    flex-direction: column;
}

.cards {
    border: 1px solid #000;
    display: flex;
    padding: 30px;
    margin-top: 1.5rem;
}

.cards .left-side h3 {
    font-size: 28px;
    font-weight: 500;
}

.cards .left-side p {
    margin-top: 2rem;
    font-weight: 300;
}

.cards .view-button {
    margin-left: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.cards .view-button a {
    padding: 12px 12px;
    background-color: var(--var-btn);
    color: var(--var-btn-text);
    text-decoration: none;
    transition: .3s;
}

.cards .view-button a:hover {
    background-color: var(--var-btn-hover);
}

#about {
    padding: 4rem 6rem;
}

.about-header {
    display: flex;
}

.about-logo {
    width: 20%;
    display: flex;
    align-items: center;
    margin-right: auto;
}

.about-logo h3 {
    font-size: 28px;
    color: var(--var-btn);
}

.about-right-side {
    width: 80%;
}

.about-right-side h2 {
    font-size: 32px;
    font-weight: 500;
}

.about-right-side p {
    margin-top: 1rem;
    font-weight: 300;
    font-size: 14px;
}

.achievement-list {
    width: 80%;
    margin-left: auto;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;

}

.achievement-list .achievement-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.achievement-list .achievement-item h3 {
    margin-top: 4px;
    font-size: 18px;
    color: rgba(211, 210, 210, 255);
}

.achievement-list .achievement-item h1 {
    font-size: 30px;
}


.images .row-1 {
    display: flex;
    justify-content: space-around;
}

.images .row-1 img {
    width: 45%;
}

.images .row-2 {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.images .row-2 img {
    width: 32%;
    margin: 0 10px;
}

/* Tampilan Mobile */

@media (max-width: 991px) {


    .header {
        padding: 1rem;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);

    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .header .logo img {
        width: 30px;
        height: auto;
        margin-right: 8px;
    }

    .header .logo h2 {
        font-size: 24px;
    }

    .header.sticky {
        padding: 1.5rem;
    }

    .nav ul {
        position: fixed;
        left: -100%;
        top: 60px;
        flex-direction: column;
        background-color: var(--var-btn-text);
        width: 100%;
        transition: .3s;
        text-align: center;
        justify-content: center;
        min-height: 100vh;
        text-align: center;
    }

    .nav ul li {
        margin: 15px;
    }

    .nav ul li a {
        font-size: 24px;
        transition: .5s;
    }

    .nav ul li a:hover {
        color: var(--var-btn-hover);
    }

    .nav ul.active {
        left: 0;
    }

    .nav ul li a {
        font-size: 24px;
        transition: .3s;
    }

    .nav ul.active {
        left: 0;
    }

    .btn-contact {
        margin: 20px 15px;
    }

    .btn-contact a {
        border-radius: 20px;
        font-size: 16;
    }

    /* Section Home */
    #home {
        padding: 7rem 1.5rem;
    }

    .container-home {
        flex-direction: column;
    }

    .container-home .title-home {
        margin-bottom: 20px;
        font-size: 56px;
    }

    .container-home .content-home {
        width: 100%;
    }

    .image-swiper {
        padding: 2rem 0;
    }

    .swiper-slide img {
        width: 110px;
        height: 200px;
    }

    /* Section News */

    .box {
        flex-direction: column;
    }

    .box-news {
        margin: 10px 50px;
    }

    .btn-news {
        margin-top: 30px;
    }

    /* Section Service */

    #service {
        padding: 1.5rem;
        flex-direction: column;
        width: 100%;
    }

    .service-logo h3 {
        font-size: 50px;
        letter-spacing: 0;
    }

    .service-lists h2 {
        font-size: 30px;
    }

    .service-lists {
        width: 100%;
    }

    .cards {
        flex-direction: column;
    }

    .cards .view-button {
        margin-left: 0;
        margin-top: 24px;
        width: 100%;
    }

    .view-button a {
        width: 100%;
    }

    /* Section About */

    #about {
        padding: 1.5rem;
        flex-direction: column;
    }

    .about-header {
        flex-direction: column;
    }

    .achievement-list {
        flex-direction: column;
        margin: 0 12px;
    }

    .about-logo {
        width: 100%;
    }

    .about-right-side {
        width: 100%;
        margin-top: 1rem;
    }

    .achievement-list {
        justify-content: center;
        width: 100%;
        margin: 0;
    }

    .image-gak-perlu {
        display: none;
    }

    .images .row-1 img {
        width: 50%;
        margin: 0 5px;
    }

    .images .row-1 {
        justify-content: space-evenly;
    }

    .images .row-2 img {
        width: 100%;
    }
}